[defaults]
inventory = ./inventories/raspies
ansible_managed = Ansible managed: {file} modified by {uid} on {host}, please don't make changes directly in the file, they would be overwritten
retry_files_enabled = False

